root{
    --branco-pricipal: #FFFF;
    --cinza-secundario: #c0c0c0;
    --boatao-azul:#167BF7;
    --cor-de-fundo:#00030C;
    --fonte-de-principal:'Inter';
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-de-principal);
    font-size: 16px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}


.principal {
    background-image: url("img/Background.png")'';